html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
}

#subreddit {
  width: 200px;
  margin-left: 4px;
}

#buttons input {
  position: absolute;
  width: 100px;
}

#submit_button_window {
  left: 72;
}

#submit_button_tab {
  left: 174;
}
